#navbar .logo{
  float: none;
  text-align: center;
}
#navbar ul,#navbar ul li{
  float: none;
} 
#navbar ul li a{
  padding: 5px;
  border:1px dotted #444;
}
/* home info */
#info{
  /* height: 500px; */
  padding-bottom: .5rem;
}
#info .info-img{
  display: none;
}
#info .info-content{
  float:none;
  width:100%;
}

/* Boxes */
#features .box,.box{
float: none;
width:100%;
border-bottom:2px solid #444;
}

/* about-info */
#about-info{
  height: 600px;
}
#about-info .about-content,.about-img{
  float: none;
  width:100%;
}
.heading-secondary{
 text-align: center;
}
.about-img{
  margin-top: 30px;
}
